<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Título</title>
    <meta name="title" content="Titulo de la página: entre 55 caracteres">
    <meta name="description" content="La descripción: entre 155 caracteres">
    <meta name="keywords" content="Keywords: entre 5 palabras o frases clave">
    <meta name="author" content="autor de la pagina">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="language" content="es">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" href="../Complementos/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../Complementos/css/jpnj.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="Logged internal sec">
  	<!--[if lt IE 8]>
    	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container interfaz">
        <nav class="navbar navbar-default cabecera">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo" href="#">JAPANAJA</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse mainNav" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/QuieroEfectivo">Quiero efectivo</a></li>
                        <li><a href="/QuieroAhorrar">Quiero ahorrar</a></li>
                        <li><a href="/Nosotros">Nosotros <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>



                    <!-- para loger -->
                    <ul class="nav navbar-nav navbar-right">

                       <%# aqui para los no logear%>
                       <% if(logeado==false){%>
                        <li class="notLogged"><a href="#" class="iniciar" data-toggle="modal" data-target="#ModalInicioSesion">iniciar sesión</a></li>
                        <li class="notLogged"><a href="#" class="registrar" data-toggle="modal" data-target="#ModalRegistro" onclick="limpiarRegistrar()">regístrate</a></li>

                           <% } else {%>

                        <%# aqui para logear%>

                        
                        <li class="dropdown Logged">
                            <a href="#" class="mensajes">mensajes 
                                <span class="sinleer">58</span>
                            </a>
                        </li>




                       <li class="Logged">
                            <a href="/notificaciones" class="alertas">alertas <span class="sinleer">1</span></a>
                        </li>

                        <li class="Logged dropdown">
                            
                            <a href="#" class="dropdown-toggle usuario" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <figure>
                                    <img src="<%= perfil %>" alt="">
                                </figure>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/QuieroAhorrar">Quiero Ahorrar</a></li>
                                <li><a href="/QuieroEfectivo">Quiero Efectivo</a></li>
                                <li><a href="/MisPropuestas">Mis propuestas</a></li>
                                <li><a href="#">Mis opciones</a></li>
                                <li><a href="#">Configuración</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/signup">Cerrar sesión</a></li>
                            </ul>

                        </li>
                         <% }%>


                    </ul>


                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <section class="main-internal-page">
            <div class="row nopad">
                <div class="col-md-12 white-card">
                    <header class="clearfix">
                        <figure>
                            <img src="imagenes/avatars/avatar.png" alt="">
                        </figure>
                        <div class="rating">
                            <a class="good">1</a>
                            <a>2</a>
                            <a>3</a>
                            <a>4</a>
                            <a>5</a>
                        </div>
                        <h2>María</h2>
                    </header>
                    <div class="tabpages clearfix">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#propuestas" aria-controls="propuestas" role="tab" data-toggle="tab">Tus propuestas</a></li>
                            <li role="presentation"><a href="#opciones" aria-controls="opciones" role="tab" data-toggle="tab">Tus opciones</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="propuestas">
                                <div class="tabpage">
                                    <div class="tabtitle">
                                        <h4>Tus propuestas activas</h4>
                                    </div>
                                    <div class="tabmodule row-fluid clearfix">
                                        <div class="col col-md-9">
                                            <p>Marco está proponiendo recibir S/ 270 en efectivo en su cuenta de interbank, a cambio de pagar tu recibo de Enel de S/ 280.40</p>
                                        </div>
                                        <div class="col col-md-3 acciones">
                                            <input type="button" value="Cancelar propuesta" class="red">
                                            <p>Vence en 08:23:45</p>
                                        </div>
                                    </div>
                                    <div class="tabmodule row-fluid clearfix">
                                        <div class="col col-md-9">
                                            <p>Marco está proponiendo recibir S/ 270 en efectivo en su cuenta de interbank, a cambio de pagar tu recibo de Enel de S/ 280.40</p>
                                        </div>
                                        <div class="col col-md-3 acciones">
                                            <input type="button" value="Cancelar propuesta" class="red">
                                            <p>Vence en 08:23:45</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabpage closed">
                                    <div class="tabtitle">
                                        <h4>Tus propuestas cerradas</h4>
                                    </div>
                                    <div class="tabmodule row-fluid clearfix">
                                        <div class="col col-md-9">
                                            <p>Ahorraste S/ 9.32 al publicar una opción de su recibo de Enel de S/ 98.20</p>
                                            <p class="small">Cerró el 12 de julio a las 5:34pm</p>
                                        </div>
                                        <div class="col col-md-3 acciones">
                                            <h2>María</h2>
                                            <figure>
                                                <img src="imagenes/avatars/avatar.png" alt="">
                                            </figure>
                                            <div class="rating">
                                                <a class="good">1</a>
                                                <a>2</a>
                                                <a>3</a>
                                                <a>4</a>
                                                <a>5</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="opciones">
                                <div class="tabpage">
                                    <div class="tabtitle">
                                        <h4>Tus opciones activas</h4>
                                    </div>
                                    <div class="tabmodule row-fluid clearfix">
                                        <div class="col col-md-9">
                                            <p>Has publicado una opción de su recibo de Enel de S/ 92.20</p>
                                        </div>
                                        <div class="col col-md-3 acciones">
                                            <input type="button" value="Cancelar propuesta" class="red">
                                            <p>Vence en 08:23:45</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabpage closed">
                                    <div class="tabtitle">
                                        <h4>Tus opciones cerradas</h4>
                                    </div>
                                    <div class="tabmodule row-fluid clearfix">
                                        <div class="col col-md-9">
                                            <p>Ahorraste S/ 9.32 al publicar una opción de su recibo de Enel de S/ 98.20</p>
                                            <p class="small">Cerró el 12 de julio a las 5:34pm</p>
                                        </div>
                                        <div class="col col-md-3 acciones">
                                            <h2>María</h2>
                                            <figure>
                                                <img src="imagenes/avatars/avatar.png" alt="">
                                            </figure>
                                            <div class="rating">
                                                <a class="good">1</a>
                                                <a>2</a>
                                                <a>3</a>
                                                <a>4</a>
                                                <a>5</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabmodule row-fluid clearfix">
                                        <div class="col col-md-9">
                                            <p>Ahorraste S/ 12.30 al publicar una opción de su recibo de Enel de S/ 110.20</p>
                                            <p class="small">Cerró el 5 de julio a las 5:34pm</p>
                                        </div>
                                        <div class="col col-md-3 acciones">
                                            <h2>María</h2>
                                            <figure>
                                                <img src="imagenes/avatars/avatar.png" alt="">
                                            </figure>
                                            <div class="rating">
                                                <a class="good">1</a>
                                                <a class="good">2</a>
                                                <a class="good">3</a>
                                                <a>4</a>
                                                <a>5</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-internal-footer">
            <ul class="sociales">
                <li><a href="#" class="face">Facebook</a></li>
                <li><a href="#" class="linked">LinkedIn</a></li>
                <li><a href="#" class="twitter">Twitter</a></li>
            </ul>
        </section>
    </div>
    <footer class="container pie">
        <section>
            <ul>
                <li><a href="">Términos y condiciones</a></li>
                <li><a href="">Política de privacidad</a></li>
                <li><a href="">Libro de Reclamaciones</a></li>
            </ul>
        </section>
    </footer>
<!-- Modal -->
<div class="modal fade" id="ModalInicioSesion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Iniciar sesión</h4>
      </div>
      <div class="modal-body center">
        <form action="">
        <input type="button" class="faceBtn" value="Continuar con facebook">
        <fieldset>
            <legend>o utiliza tu correo para iniciar sesión</legend>
            <input type="text" placeholder="Correo">
            <input type="password" placeholder="Contraseña">
            <p>olidaste tu contraseña, <a href="">haz clic aquí</a></p>
            <input type="button" value="Iniciar Sesión">
        </fieldset>
        </form>
        </div>
        <div class="modal-footer">
            <p>¿Todavía no tienes una cuenta? <a href="" data-toggle="modal" data-target="#ModalRegistro" data-dismiss="modal">Regístrate</a></p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalRegistro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Regístrate</h4>
      </div>
      <div class="modal-body center">
        <form action="">
        <input type="button" class="faceBtn" value="Continuar con facebook">
        <fieldset>
            <legend>regístrate</legend>
            <input type="text" placeholder="Correo">
            <input type="password" placeholder="Contraseña">
            <input type="text" placeholder="Nombre completo (como figura en el DNI)">
            <input type="text" placeholder="DNI">
            <input type="text" placeholder="Celular">
            <input type="button" value="Registrarme">
        </fieldset>
        </form>
        </div>
        <div class="modal-footer">
            <p>¿Ya tienes cuenta? <a href="" data-toggle="modal" data-target="#ModalInicioSesion" data-dismiss="modal">Inicia sesión</a></p>
      </div>
    </div>
  </div>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../Complementos/js/bootstrap.js"></script>
    <script>
        //contador
        $('.count').each(function () {
            $(this).prop('Counter',0).animate({
                Counter: $(this).text()
            }, {
                duration: 4000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
            });
        });
    </script>
    <script>
        //videoPlayback
        var myVideo = document.getElementById("video"); 
        function playPause() { 
            if (myVideo.paused) 
                myVideo.play(); 
            else 
                myVideo.pause(); 
        } 
    </script>
  </body>
</html>